{% extends 'base.html' %}

{% block title %}Voyage Of Amusements{% endblock %}

{% block content %}
<form method="POST" enctype="multipart/form-data" action="{{ url_for('complete_payment') }}">
    <div class="form-group">
        <label for="ticket">Bind to tickets</label>
        <select class="form-control" id="ticket" name="ticket">
            {% for row in tickets %}
                <option value="{{row.v_id}}">{{row.v_name}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="checkout_type">Checkout Type</label>
        <select class="form-control" id="checkout_type" name="checkout_type" value="{{type}}">
            <option value="{{type}}">parking</option>
        </select>
    </div>
    {% if type == 'parking' %}
        <div class="form-group">
            <label for="lot">Checkout Type</label>
            <select class="form-control" id="lot" name="lot">
                <option value="A" {% if item == "lotA" %}selected{% endif %}>lotA</option>
                <option value="B" {% if item == "lotB" %}selected{% endif %}>lotB</option>
                <option value="C" {% if item == "lotC" %}selected{% endif %}>lotC</option>
                <option value="D" {% if item == "lotD" %}selected{% endif %}>lotD</option>
            </select>
        </div>
    {% elif type == 'show' %}
        <div class="form-group">
            <label for="show">Show Name</label>
            <p class="form-control" id="show" name="show" disabled>{{item}}</p>
        </div>
    {% elif type == 'store' %}
        <div class="form-group">
            <label for="item">Item Name</label>
            <p class="form-control" id="item" name="item" disabled>{{item}}</p>
        </div>
    {% endif %}
    <div class="form-group">
        <label for="price">Price</label>
        <input type="number" class="form-control" id="price" name="price" value="{{price}}" readonly>
    </div>
    <div class="form-group">
        <label for="cardholder_name">Cardholder's Name</label>
        <input type="text" class="form-control" id="cardholder_name" name="cardholder_name" placeholder="Enter cardholder's name" required>
    </div>
    <div class="form-group">
        <label for="card_number">Card Number</label>
        <input type="text" class="form-control" id="card_number" name="card_number" placeholder="Enter card number" required>
    </div>
    <div class="form-group">
        <label for="card_type">Card Type</label>
        <select class="form-control" id="card_type" name="card_type" required>
            <option value="D">Debit</option>
            <option value="C">Credit</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exp_date">Expired Date</label>
        <input type="text" class="form-control" id="exp_date" name="exp_date" placeholder="Enter card Expired Date (MM/YY)" required>
    </div>
    
    <div class="form-group">
        <label for="card_cvv">Card CVV</label>
        <input type="text" class="form-control" id="card_cvv" name="card_cvv" placeholder="Enter card CVV" required>
    </div>
    <div class="form-group">
        <div class="mx-auto">
            <button type="submit" class="btn btn-primary">Checkout</button>
        </div>
    </div>
</form>

    
{% endblock %}