{% extends 'base.html' %}

{% block title %}Voyage Of Amusements{% endblock %}

{% block content %}
<form method="POST" enctype="multipart/form-data" action="{{ url_for('complete_payment') }}">
    <div class="form-group">
        <label for="ticket">Bind to tickets</label>
        <select class="form-control" id="ticket" name="ticket" onchange="updateOptions()">
            {% for row in tickets %}
                <option value="{{row.v_id}}">{{row.v_name}} ({{row.visit_date}})</option>
            {% endfor %}
        </select>
    </div>
    <script>
        function updateOptions() {
            // 获取选中的ticket
            const ticketSelect = document.querySelector('#ticket');
            const typeSelect = document.querySelector('#checkout_type');
            
            const selectedTicket = ticketSelect.options[ticketSelect.selectedIndex].value;
            const checkout_type = typeSelect.options[typeSelect.selectedIndex].value;
            console.log(checkout_type)
            // 发送异步请求到后端，获取可选的lot
            if (checkout_type == 'parking') {
                fetch(`/get_remain_spots?v_id=${selectedTicket}`)
                    .then(response => response.json())
                    .then(lots => {
                        // 更新lot的options
                        const lotSelect = document.querySelector('#lot');
                        lotSelect.innerHTML = '';
                        for (const [key, value] of Object.entries(lots)) {
                            if (value == 0) {
                                continue;
                            }
                            const option = document.createElement("option");
                            option.value = key;
                            option.text = `${key} - ${value} available spots`;
                            lotSelect.add(option);
                        }
                    });
            }
            else if (checkout_type == 'shows') {
                fetch(`/get_available_shows?v_id=${selectedTicket}`)
                    .then(response => response.json())
                    .then(shows => {
                        const showSelect = document.querySelector('#show');
                        showSelect.innerHTML = '';
                        for (const show of Object.entries(shows)) {
                            const option = document.createElement("option");
                            option.value = show.show_id;
                            option.text = `${show.show_name}`;
                            showSelect.add(option);
                        }
                    });
            }
        }
    </script>
    <div class="form-group">
        <label for="checkout_type">Checkout Type</label>
        <select class="form-control" id="checkout_type" name="checkout_type" value="{{type}}">
            <option value="{{type}}" >{{type}}</option>
        </select>
    </div>
    {% if type == 'parking' %}
        <div class="form-group">
            <label for="lot">Park Location</label>
            <select class="form-control" id="lot" name="lot">
                <!-- <option value="A" {% if item == "lotA" %}selected{% endif %}>lotA</option>
                <option value="B" {% if item == "lotB" %}selected{% endif %}>lotB</option>
                <option value="C" {% if item == "lotC" %}selected{% endif %}>lotC</option>
                <option value="D" {% if item == "lotD" %}selected{% endif %}>lotD</option> -->
            </select>
        </div>
    {% elif type == 'shows' %}
        <div class="form-group">
            <label for="show">Show Name</label>
            <select class="form-control" id="show" name="show">
            </select>
        </div>
    {% elif type == 'store' %}
        <div class="form-group">
            <label for="item">Item Name</label>
            <p class="form-control" id="item" name="item" disabled>{{item}}</p>
        </div>
    {% endif %}
    <div class="form-group">
        <label for="price">Price</label>
        <input type="number" class="form-control" id="price" name="price" value="{{price}}" readonly>
    </div>
    <div class="form-group">
        <label for="cardholder_name">Cardholder's Name</label>
        <input type="text" class="form-control" id="cardholder_name" name="cardholder_name" placeholder="Enter cardholder's name" required>
    </div>
    <div class="form-group">
        <label for="card_number">Card Number</label>
        <input type="text" class="form-control" id="card_number" name="card_number" placeholder="Enter card number" pattern="[0-9]{16}" required>
    </div>
    <div class="form-group">
        <label for="card_type">Card Type</label>
        <select class="form-control" id="card_type" name="card_type" required>
            <option value="D">Debit</option>
            <option value="C">Credit</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exp_date">Expired Date</label>
        <input type="text" class="form-control" id="exp_date" name="exp_date" placeholder="Enter card Expired Date (MM/YY)" pattern="^(0[1-9]|1[0-2])\/?([0-9]{2})$" required>
    </div>
    
    <div class="form-group">
        <label for="card_cvv">Card CVV</label>
        <input type="text" class="form-control" id="card_cvv" name="card_cvv" placeholder="Enter card CVV" pattern="^[0-9]{3, 4}$" required>
    </div>
    <div class="form-group">
        <div class="mx-auto">
            <button type="submit" class="btn btn-primary">Checkout</button>
        </div>
    </div>
</form>

    
{% endblock %}