{% extends 'base.html' %}

{% block title %}Voyage Of Amusements{% endblock %}

{% block content %}
<h2>Voyage Of Amusements</h2>
<p>
    Welcome back, {{ username }}!
</p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Attraction</th>
                <th>Description</th>
                <th>Location</th>
            </tr>
        </thead> 
        <tbody>
            {% for row in attractions %}
                <tr>
                    <td>{{row.att_name}}</td>
                    <td>{{row.description}}</td>
                    <td>{{row.location_sec}}<l></td>
                </tr>
            {% endfor %}
        </tbody>  
    </table>
    <h2> 
        <a href="{{url_for('parking_spot')}}" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-report">
            <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
            Reserve Spot
        </a>
    </h2>
</div>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Show</th>
                <th>Type</th>
                <th>Description</th>
                <th>Date</th>
                <th>Price</th>
                <th>Wheelchair</th>
                
            </tr>
        </thead> 
        <tbody>
            {% for row in shows %}
                <tr>
                    <td>{{row.show_name}}</td>
                    <td>{{row.type}}</td>
                    <td>{{row.description}}</td>
                    <td>{{row.s_time}}<l></td>
                    <td>{{row.price}}<l></td>
                        <td>
                        {% if row.wheelchair_acc == 0 %}No
                        {% else %}Yes
                        {% endif %}
                    </td>
                    
                </tr>
            {% endfor %}
        </tbody>   
    </table>
    <h2> 
        <a href="{{url_for('shows')}}" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-report">
            <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
            Reserve Show
        </a>
    </h2>
</div>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Price</th>                
            </tr>
        </thead> 
        <tbody>
            {% for row in items %}
                <tr>
                    <td>{{row.item_name}}</td>
                    <td>{{row.unit_price}}</td>
                </tr>
            {% endfor %}
        </tbody>   
    </table>
    <p> 
        NOTE: In-store purchases only.
    </p>
</div>
{% endblock %}

