{% extends 'empbase.html' %}

{% block title %}Voyage Of Amusements{% endblock %}

{% block content %}
<h2>INSERT ITEM ON THIS PAGE!</h2>
<div class="msg">{{ msg }}</div>

<div>
    <form method="POST" enctype="multipart/form-data">
        <label>Item Name</label><br>
        <input type="text" name="item_name" id="name" required><br>

        <label>Item Price</label><br>
        <input type="text" name="unit_price" id="name" required><br>

        <br>
        <button type="submit" name="submit_button" class="btn btn-primary btn-sm" >Submit</button>
    <form>

    <table>
        <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Item</th>
            </tr>
        </thead> 
        <tbody>
            {% for row in data %}
                 <tr>
                    <td>{{row.menu_id}}</td>
                    <td>{{row.item_name}}</td>
                    <td><a href="{{ url_for('delete_type3', id =row.menu_id)}}">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>  
    </table>
<div>

{% endblock %}