{% extends 'base.html' %}

{% block title %}Voyage Of Amusements{% endblock %}

{% block content %}
<h2>Reserve Parking Spot</h2>
<div>
<table>
    <thead>
        <tr>
            <th>Location</th>
            <th>Available spot</th>
        </tr>
    </thead> 
    <tbody>
        <tr>
            <td>LotA</td>
            <td>
                <a href="{{ url_for('checkout', type='parking', item='lotA') }}">{{remain_spot_by_lot.lotA}}</a>
            </td>
        </tr>
        <tr>
            <td>LotB</td>
            <td>
                <a href="{{ url_for('checkout', type='parking', item='lotB') }}">{{remain_spot_by_lot.lotB}}</a>
            </td>
        </tr>
        <tr>
            <td>LotC</td>
            <td>
                <a href="{{ url_for('checkout', type='parking', item='lotC') }}">{{remain_spot_by_lot.lotC}}</a>
            </td>
        </tr>
        <tr>
            <td>LotD</td>
            <td>
                <a href="{{ url_for('checkout', type='parking', item='lotD') }}">{{remain_spot_by_lot.lotD}}</a>
            </td>
        </tr>
    </tbody>  
</table>
</div>
{% endblock %}
