{% extends 'base.html' %}

{% block title %}Voyage Of Amusements{% endblock %}

{% block content %}
<h2>Parking Spot Detail</h2>
<div>
    <table>
        <thead>
            <tr>
                <th>Visitor</th>
                <th>Lot</th>
                <th>Location</th>
                <th>Spot NO.</th>
            </tr>
        </thead> 
        <tbody>
            {% for row in parking_order %}
                <tr>
                    <td>{{row.v_name}}</td>
                    <td>{{row.visit_date}}</td>
                    <td>{{row.lot}}</td>
                    <td>{{row.spot_number}}</td>
                </tr>
            {% endfor %}
        </tbody>  
    </table>
</div>

{% endblock %}