{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<!DOCTYPE html>
<html>
    <style>
        table {
            margin: 0 auto;
            font-size: 20px;
            border-collapse: collapse;
        }
        td, th {
            border: 1px solid black;
            padding: 8px;
        }
        .popup{
            display: none;
        }
    </style>
    <div>
        <h2>Ticket Order</h2>
        <table>
            <thead>
                <tr>
                    <th>FirstName</th>
                    <th>LastNname</th>
                    <th>Plan Visit Date</th>
                    <th>Payment Amount</th>
                    <th>Change Visit Date</th>
                    <th>Refund</th>
                </tr>
            </thead>
            <tbody>
                {% for row in tickets %}
                    <tr>
                        <td>{{ row.v_fname }}</td>
                        <td>{{ row.v_lname }}</td>
                        <td>{{ row.visit_date }}</td>
                        <td>{{ row.pay_amount }}</td>
                        <td><form method="POST" enctype="multipart/form-data">
                            <label for="Vdate">Change Visit Date:</label>
                            <input type="date" id="Vdate" name="Vdate">
                            <button type="submit" name='action' value='change_date' href="{{ url_for('ticket_history')}}">Submit</button>
                        </form></td>
                        <td><form method="POST" enctype="multipart/form-data"> 
                            <input type="hidden" name="row_value" value="{{ row.ticket_id }}">
                            <button type="submit" name='action' value='refund' href="{{ url_for('ticket_history')}}">Refund</button>
                        </form></td>
                {% endfor %}
            </tbody>
        </table>
        <p >Note: Cancel or Refund the ticket would automatically cancel related parking reservation and show reservation!</p>
    </div>
    <div>
        <h2>Pakring Order</h2>
        <table>
            <thead>
                <tr>
                    <th>FirstName</th>
                    <th>LastNname</th>
                    <th>Plan Visit Date</th>
                    <th>Lot</th>
                    <th>Cancel</th>
                </tr>
            </thead>
            <tbody>
                {% for row in parking %}
                    <tr>
                        <td>{{ row.v_fname }}</td>
                        <td>{{ row.v_lname }}</td>
                        <td>{{ row.visit_date }}</td>
                        <td>{{ row.lot }}</td>
                        <td><form method="POST" enctype="multipart/form-data"> 
                            <input type="hidden" name="parking_payment_id" value="{{ row.payment_id }}">
                            <button type="submit" name='action' value='cancel_parking' href="{{ url_for('ticket_history')}}">Cancel</button>
                        </form></td>
                {% endfor %}
            </tbody>
        </table>
        <p >Note: All parking reservation is 19.99/day!</p>
    </div>
    <div>
        <h2>Show Order</h2>
        <table>
            <thead>
                <tr>
                    <th>FirstName</th>
                    <th>LastNname</th>
                    <th>Plan Visit Date</th>
                    <th>Show Name</th>
                    <th>Price</th>
                    <th>Cancel</th>
                </tr>
            </thead>
            <tbody>
                {% for row in shows %}
                    <tr>
                        <td>{{ row.v_fname }}</td>
                        <td>{{ row.v_lname }}</td>
                        <td>{{ row.visit_date }}</td>
                        <td>{{ row.show_name }}</td>
                        <td>{{ row.price }}</td>
                        <td><form method="POST" enctype="multipart/form-data"> 
                            <input type="hidden" name="show_payment_id" value="{{ row.payment_id }}">
                            <button type="submit" name='action' value='cancel_show' href="{{ url_for('ticket_history')}}">Cancel</button>
                        </form></td>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</html>
{% endblock %}