<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}VOA Informations{% endblock %}

{% block content %}
<h2>VOA Informations</h2>

<table>
    <thead>
        <tr>
            <th>Attraction</th>
            <th>Description</th>
        </tr>
    </thead> 
    <tbody>
        {% for row in attractions %}
            <tr>
                <td>{{row.att_name}}</td>
                <td>{{row.description}}</td>
            </tr>
        {% endfor %}
    </tbody>  
</table>

<table>
    <thead>
        <tr>
            <th>NAME</th>
            <th>NUMBER</th>
        </tr>
    </thead> 
    <tbody>
        {% for row in attractions %}
            <tr>
                <td>{{row.att_name}}</td>
                <td>{{row.description}}</td>
            </tr>
        {% endfor %}
    </tbody>  
</table>


{% endblock %}